.filter-area{
    margin-top: 50px;
}
.restoran .smak-pad{
    padding-left: 70px;
}
.restoran.salons-section{
    padding: 0;
}
.restoran-top{
    padding-top: 50px;
    /* height: 80px; */
}
.smak-word{
    margin-left: 25px;
    top: -82px;
    z-index: -1;
    position: absolute;
    font-family: Gilroy;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    text-align: right;
    color: #eeeeee;
}

.restoran-sliders{
    display: flex;
    height: 480px;
}
.restoran-slider{
    margin-right: 30px;
    width: 320px;
    height: 480px;
}
.restoran-body{
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.restoran-body .restoran-dark{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.restoran-body h3{
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 40px;
    font-family: Gilroy;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fff;
}
.restoran-body h3::before{
    content: '';
    display: block;
    background: #ffffff;
    width: 40px;
    height: 2px;
    margin-bottom: 15px;
}
.restoran-body .restoran-desc{
    width: 80%;
    overflow: hidden;
    right: 0;
	top: 0;
    height: 0;
    margin-left: 40px;
    margin-bottom: 0px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #ffffff;
    transition: all 0.5s;
}
.restoran-body .floor{
    margin-bottom: 50px;
    margin-left: 40px;
    font-family: Gilroy;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.8px;
    text-align: left;
    color: #ffffff;
}
.restoran-body .new_slidelink{
    overflow: hidden;
    right: 0;
	top: 0;
    height: 0;
    margin-bottom: 0px;
    margin-left: 25px;
    transition: all 0.5s;
}
.slick-slide .restoran-body img {
    display: inherit;
    padding-left: 150px;
}
.restoran-body .new_slidelink a{
    color: #ffffff;
}
.restoran-body .new_slidelink a::before,
.restoran-body .new_slidelink a::after{
    margin-left: 15px;
    content: '';
    display: block;
    background: #ffffff;
    width: 240px;
    height: 1px;
}
.restoran-body .new_slidelink a::before{
    margin-bottom: 10px;
}
.restoran-body .new_slidelink a::after{
    margin-top: 10px;
}

.restoran .slick-arrow {
    position: absolute;
    top: -60px;
    z-index: 2;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}
.restoran .slick-prev{
    margin-right: 20px;
}
.restoran .slick-next{
    margin-left: 20px;
}

.restoran .slick-arrow .mdi-chevron-left:before,
.restoran .slick-arrow .mdi-chevron-right:before{
    font-size: 25px;
}

.filter-this.hide {
	transition: 0.4s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
}

/* ============================================================outlet======================================================================= */
.outlet.salons-section{
    padding: 0;
}
.outlet-top{
    padding-top: 50px;
}
.outlet-word{
    margin-left: -800px;
    top: -30px;
    z-index: -1;
    position: absolute;
    font-family: Gilroy;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    text-align: right;
    color: #eeeeee;
}
.outlet-search input{
    height: 50px;
    background-color: #242526;
    border: 1px solid #242526;
    outline: none;
    width:230px;
    color: #fff;
    padding-left: 20px;
}
.outlet-search button{
    height: 50px;
    background-color: #242526;
    border: 1px solid #242526;
    color: #fff;
    top: 0;
    right: 15px;
    position: absolute;
    outline: none;
}
.outlet-search button span{
    padding-right: 10px;
}
.outlet-item{
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
.outlet-item a{
    text-decoration: none;
}
.outlet-item a:hover ul li{
    color: #242526;
}
.outlet-item .outlet-img{
    overflow: hidden;
    height: 270px;
}
.outlet-item .outlet-img img{
    transition: 0.5s;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.outlet-item a:hover .outlet-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.outlet-item .outlet-item-bot{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #eeeeee;
}
.outlet-item .outlet-item-bot h4{
    padding: 5px 0;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.45px;
    color: #323335;
    margin-bottom: 0;
}
.outlet-item .outlet-item-bot ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.outlet-item .outlet-item-bot ul li{
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    padding-right: 15px;
}
.outlet-item .outlet-item-bot ul li.red{
    color: #b73434;
}
.outlet-item .outlet-item-bot ul li.line{
    color: #afb0b3;
    text-decoration: line-through;
}
.outlet-item.show-more{
    border: 2px solid #323335;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outlet-item.show-more a{
    text-decoration: none;
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #323335;
}
.outlet-item.show-more a .mdi-sync{
    font-size: 80px;
}
.outlet-item.show-more a span:last-child{
    width: 50%;
}

.outlet-item.show-more a:hover{
    color: #fff;
    background: #323335;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.pagination{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.pagination ul li{
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;
}
.pagination ul li a,
.pagination ul li span{
    background-color: #eeeeee;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: center;
    color: #323335;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination ul li span,
.pagination ul li a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* ===============================================================outlet-single======================================================== */

.outlet-single.salons-section{
    padding: 0;
}
.outlet-single .container{
    padding-top: 50px;
}
.outlet-single .bredcrambs{
    font-family: Gilroy;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.outlet-single .bredcrambs ul{
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 40px;
}
.outlet-single .bredcrambs ul li{
    padding-right: 5px;
}
.outlet-single .bredcrambs ul li:last-child{
    color: #afb0b3;
}
.outlet-single .gray-block{
    top: -20px;
    left: -25px;
    z-index: -1;
    width: 285px;
    height: 350px;
    background-color: #eeeeee;
    position: absolute;
}
.outlet-single .left-block{
    width: 86.5%;
}
.outlet-single .outlet-sliders .outlet-slider{
    overflow: hidden;
    height: 480px;
}
.outlet-single .outlet-sliders .outlet-slider img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.outlet-single .outlet-min-sliders{
    position: absolute;
    margin-top: -25px;
    margin-left: -60px;
    width: 84%;
    display: flex;
    justify-content: flex-start;
}

.outlet-single .outlet-min-sliders .outlet-slider{
    overflow: hidden;
    height: 80px;
    width: 80px;
    margin-right: 5px;
    border: 1px solid #fff;
}
.outlet-single .outlet-min-sliders .outlet-slider img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.outlet-single .warrior{
    background: #ffe8e8;
    padding: 10px 35px 10px 20px;
    margin-top: 80px;
}
.outlet-single .warrior h4{
    font-family: Gilroy;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: 0.55px;
    text-align: left;
    color: #b73434;
    margin: 0;
}
.outlet-single .warrior p{
    font-family: Gilroy;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: 0.55px;
    text-align: left;
    color: #b73434;
    margin: 0;
}
.outlet-single  .left-section{
    display: flex;
}
.outlet-single  .left-section .slider{
    width: 100%;
}
.outlet-single  .vertical-word{
    padding-right: 20px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #afb0b3;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    transform: rotate(180deg);
    letter-spacing: 7px;
}

.outlet-single .right-block .price-block{
    display: flex;
    padding-left: 30px;
}
.outlet-single .right-block .price-block ul:first-child{
    width: 40%;
}
.outlet-single .right-block .price-block ul li.red{
    font-family: Gilroy;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #b73434;
}
.outlet-single .right-block .price-block ul li.line{
    text-decoration: line-through;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #afb0b3;
}
.outlet-single .right-block .price-block ul:nth-child(2) li{
    padding: 3px 0;
    
}
.outlet-single .right-block .price-block ul li.discount{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #b73434;
}
.outlet-single .right-block .price-block ul li.discount span{
    font-weight: bold;
    color: #323335;
}
.outlet-single .right-block .price-block ul li.term{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.outlet-single .right-block .price-block ul li.term span{
    font-weight: bold;
}
.outlet-single .right-block .price-block ul{
    padding-left: 0;
    width: 60%;
    list-style: none;
}

.outlet-single .right-block .seller{
    margin-top: 30px;
    background: #eeeeee;
    padding: 30px;
}
.outlet-single .right-block .seller h4{
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 8.4px;
    text-align: left;
    color: #afb0b3;
    margin-bottom: 15px;
}
.outlet-single .right-block .seller .seller-block{
    display: flex;
}
.outlet-single .right-block .seller .seller-block .seller-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.outlet-single .right-block .seller .seller-block .seller-info ul{
    list-style: none;
    padding-left: 0;
    width: 50%;
    padding-left: 15px;
}
.outlet-single .right-block .seller .seller-block .seller-info ul li{
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #afb0b3;
}
.outlet-single .right-block .seller .seller-block .seller-info ul li a{
    text-decoration: none;
    text-transform: none;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.outlet-single .right-block .seller .seller-block .seller-info ul li a:hover{
    color: #afb0b3;
}
.outlet-single .right-block .seller .seller-contact{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outlet-single .right-block .seller .seller-contact a{
    text-decoration: none;
    border: 1px solid #242526;
    width: 100%;
    padding: 20px 0;
    background-color: #242526;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: center;
}
.outlet-single .right-block .seller .seller-contact a:hover{
    color: #242526;
    background-color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.outlet-single .right-block .block-text ul{
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
    display: flex;
}
.outlet-single .right-block .block-text ul li{
    cursor: pointer;
    padding: 0 30px 15px 30px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: center;
    color: #afb0b3;
    border-bottom: 2px solid #afb0b3;
    margin-right: 1px;
}
.outlet-single .right-block .block-text ul li.active{
    color: #323335;
    border-bottom: 2px solid #323335;
    margin-right: 1px;
}
.outlet-single .right-block .outlet-single-text{
    display: none;
    animation: fadeEffect 2s;
	-webkit-animation: fadeEffect 2s;
}
.outlet-single .right-block #tab1{
	display: block;
}

.outlet-single .right-block .outlet-single-text .more-text{
    display: none;
}

.outlet-single .right-block .outlet-single-text .hide-btn,
.outlet-single .right-block .outlet-single-text .show-btn{
    width: 100%;
    text-align: center;
}
.outlet-single .right-block .outlet-single-text .hide-btn a,
.outlet-single .right-block .outlet-single-text .show-btn a{
    position: absolute;
    z-index: 20;
    margin-top: -10px;
    margin-left: -25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.outlet-single .right-block .outlet-single-text .hide-btn a span,
.outlet-single .right-block .outlet-single-text .show-btn a span{
    font-size: 20px;
    position: absolute;
    margin-top: -5px;
}
.outlet-single .right-block .outlet-single-text .hide-btn{
    display: none;
}
.outlet-single .right-block .outlet-single-text .shadow-text{
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, #fff, transparent);
    height: 10%;
    width: 100%;
    display: block;
}

button.slick-prev,
button.slick-next{
    font-size: 26px;
    border: none;
    background: none;
    padding: 0 25px;
}
button.slick-prev .mdi-trending-neutral:before{
    transform: rotate(180deg);
}
button.slick-prev:focus,
button.slick-next:focus{
    outline: none;
}

/*=================================================================== news ======================================================================== */
.news-page.salons-section{
    padding: 0;
}
.news-page .salons__topsect{
    padding-top: 50px;
}
.news-page .salons__select-choosen{
    width: 320px;
}
.news-page .news-word{
    margin-left: 70px;
    top: -31px;
    z-index: -1;
    position: absolute;
    font-family: Gilroy;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    text-align: right;
    color: #eeeeee;
}
.news-page .body-news{
    margin-top: 25px;
}
.news-page .body-news .flex-center{
    display: flex;
    justify-content: center;
}
.news-page .body-news .flex-end{
    display: flex;
    justify-content: flex-end;
}
.news-page .body-news .news-item{
    width: 320px;
    margin-bottom: 60px;
}
.news-page .body-news .news-item .news-img{
    overflow: hidden;
}
.news-page .body-news .news-item .news-img img{
    transition: 0.5s;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.news-page .body-news .news-item .news-img img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.news-page .body-news .news-item h4{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #323335;
}
.news-page .body-news .news-item p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.news-page .body-news .news-item a{
    text-decoration: none;
    margin-top: 42px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.news-page .body-news .news-item a span{
    padding-left: 10px;
    font-size: 24px;
    position: absolute;
    margin-top: -5px;
}
.news-page .body-news .news-item a:hover span{
    transition: 0.5s;
    padding-left: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.news-page .show-morebtn{
    width: 100%;
}

/*=================================================================== news-single ======================================================================== */

.body-news-content{
    padding-top: 50px;
}
.body-news-content .breadcrambs ul{
    display: flex;
    padding-left: 0;
    list-style: none;
}
.body-news-content .breadcrambs ul li a,
.body-news-content .breadcrambs ul li{
    text-decoration: none;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
    text-align: left;
    color: #c7c8ca;
}
.body-news-content .breadcrambs ul li a:hover{
    color: #323335;
}
.body-news-content .content-single h2{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.2px;
    text-align: left;
    color: #323335;
}
.body-news-content .content-single .news-single-img img{
    width: 100%;
}
.body-news-content .content-single p{
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.body-news-content .content-single h4{
    margin-top: 50px;
    font-weight: bold;
    font-size: 14px;
    color: #323335;
}

.body-news-content .content-single ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.body-news-content .content-single ul li{
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 10px;
}
.body-news-content .content-single ul li::before{
    content: '';
    background: #323335;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
    width: 3px;
    display: block;
    height: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* ================================================================================ video ======================================================================== */
.video-page.salons-section{
    padding-top: 0;
}
.video-page .top-video{
    padding-top: 50px;
}
.video-word{
    margin-left: 70px;
    top: -5px;
    z-index: -1;
    position: absolute;
    font-family: Gilroy;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    text-align: right;
    color: #eeeeee;
}
.video-page .body-video h4{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #323335;
}
.video-page .body-video p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #323335;
}
.video-page .body-video .video-item{
    margin-bottom: 40px;
}
.video-page .body-video .video-img{
    overflow: hidden;
    width: 100%;
}
.video-page .body-video .video-img a {
    cursor: pointer;
}
.video-page .body-video .video-img .bg-video{
    width: 100%;
    height: 215px;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.video-page .body-video .video-img a .play-stl{
	position: relative;
	display: block;
	z-index: 1;
	color: #000;
	font-size: 30px;
    padding: 5px 15px;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    -ms-border-radius: 50%;
    font-size: 40px;
}
.video-page .body-video .video-img a:hover .bg-video{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.video-page .modal.show{
    display: flex!important;
    align-items: center;
}
.video-page .modal .close{
    opacity: 1;
    position: relative;
    top: 0;
}
.video-page .modal .close span{
    font-size: 30px;
    color: #ffffff;
}
.video-page .show-morebtn{
    width: 100%;
}

@media (max-width: 1300.8px) {
    .smak-word {
        margin-left: -120px;
    }

    /* outlet */
    .outlet-item .outlet-item-bot a{
        font-size: 16px;
    }
    .outlet-search input{
        width: 100%;
        padding-right: 50px;

    }
    .outlet-word {
        margin-left: -600px;
    }
    /* outlet-single */
    .outlet-single .right-block .seller .seller-block .seller-info ul{
        width: 100%;
    }
    .outlet-single .outlet-min-sliders {
        margin-left: -28px;
    }
    .outlet-single .outlet-sliders .outlet-slider {
        height: 400px;
    }
}
@media (max-width: 1200.8px) {
    /* news */
    .news-page .salons__select-choosen,
    .news-page .body-news .news-item{
        width: 260px;
    }
}
@media (max-width: 1000.8px) {
    .outlet-word {
        margin-left: -430px;
    }
}
@media (max-width: 992.8px) {
    /* outlet-single */
    .outlet-single .outlet-sliders .outlet-slider {
        height: 330px;
    }
    .outlet-single .right-block .seller .seller-block{
        flex-wrap: wrap;
    }
    .outlet-single .right-block .seller .seller-block .seller-info ul{
        padding-left: 0;
    }
    .outlet-single .right-block .seller .seller-block .seller-info{
        margin-top: 10px;
    }
    .outlet-single .right-block .price-block{
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .outlet-single .right-block .price-block ul:first-child,
    .outlet-single .right-block .price-block ul{
        width: 100%;
    }
    /* news */
    .news-page .salons__select-choosen,
    .news-page .body-news .news-item{
        width: 320px;
    }
    .news-page .body-news .flex-center,
    .news-page .body-news .flex-end{
        justify-content: flex-start;
    }
}


@media (max-width: 800.8px) {
    .smak-word {
        font-size: 150px;
        margin-left: -140px;
        top: -55px;
    }

    /* outlet */
    .outlet-word {
        margin-left: -250px;
        font-size: 150px;
        top: 5px;
    }
    /* news */
    .news-page .news-word{
        font-size: 130px;
        margin-left: 0px;
        top: -35px;
    }
}
@media (max-width: 768.8px) {
    /* outlet-single */
    .outlet-single .right-block{
        margin-top: 20px;
    }
    .outlet-single .right-block .seller .seller-block{
        justify-content: center;
    }
    .outlet-single .right-block .seller .seller-block .seller-info ul {
        width: 49%;
    }
    .outlet-single .right-block .price-block ul:first-child{
        width: 30%;
    }
    .outlet-single .right-block .price-block ul{
        width: 69%;
    }
    .outlet-single .vertical-word {
        padding-right: 10px;
        font-size: 12px;
    }
    /* news */
    .news-page .salons__select-choosen,
    .news-page .body-news .news-item{
        width: 230px;
    }
    /* video */
    .video-word{
        font-size: 150px;
        top: 0;
        margin-left: 30px;
    }
}
@media (max-width: 600.8px) {
    .smak-word {
        font-size: 100px;
        margin-left: -240px;
        top: -3px;
    }
    .restoran .slick-prev{
        right: 40px!important;
    }
    .restoran .slick-next{
        right: 10px!important;
    }
}

@media (max-width: 575.8px){
    .restoran .smak-pad{
        padding-left: 0;
    }

    .outlet-item .outlet-img{
        height: 300px;
    }
    .outlet-search input {
        width: 100%;
    }
    .outlet-search{
        margin-top: 50px;
    }
    .outlet-search button{
        top: 50px;
    }
    .outlet-word {
        margin-left: -500px;
        font-size: 150px;
        top: 45px;
    }
    /* news */
    .news-page .salons__select-choosen,
    .news-page .body-news .news-item{
        width: 100%;
    }
    .news-page .news-word{
        font-size: 100px;
        margin-left: 30px;
        top: -10px;
    }
    /* news-single */
    .body-news-content .content-single h2{
        font-size: 30px;
    }
    /* video */
    .video-page .salons-section .salons__select-choosen{
        margin-bottom: 20px;
    }
}

@media (max-width: 500.8px) {
    .smak-word {
        font-size: 100px;
        margin-left: -150px;
    }
    /* outlet */
    .outlet-word {
        margin-left: -370px;
        font-size: 100px;
        top: 75px;
    }
    .pagination ul li{
        margin: 0px 6px;
    }
    /* video */
    .video-word{
        font-size: 100px;
        top: 60px;
        margin-left: 30px;
    }
}

@media (max-width: 400.8px) {
    .outlet-word {
        margin-left: -320px;
        font-size: 100px;
        top: 75px;
    }
    /* outlet-single */
    .outlet-single .right-block .price-block ul:first-child, 
    .outlet-single .right-block .price-block ul{
        width: 100%;
    }
    .outlet-single .right-block .seller .seller-block .seller-info ul {
        width: 100%;
    }
    .outlet-single .bredcrambs ul{
        flex-wrap: wrap;
    }
    /* news */
    .news-page .news-word{
        font-size: 70px;
        margin-left: 30px;
        top: 10px;
    }
    /* single-news */
    .body-news-content .breadcrambs ul{
        flex-wrap: wrap;
    }
    /* video */
    .video-word{
        font-size: 80px;
        top: 80px;
        margin-left: 30px;
    }
}
