@media (min-width: 1230px) {
    .container {
        max-width: 1170px;
    }
}

/* FIXED */
@media (max-width: 1400.8px) {

    .mainslider-slide .pagingInfo,
    .mainslider .mainslider-slide .mainslider__slideload,
    .mainsliderlittle__slide .numslide {
        display: none;
    }

    .mainsliderlittle__cont {
        margin-top: 40px;
    }

    .mainslider__sect,
    .mainslider__sidebarsect,
    .mainslider {
        min-height: 500px;
    }

    .mainsliderlittle__slide {
        height: 350px;
    }

    header.header {
        height: 75px;
    }

    main {
        margin-top: 75px;
    }

    .fixed-leftsocial {
        width: 80px;
    }

    .mainslider,
    section {
        padding-left: 80px;
    }

    .fixed-leftsocial ul li:nth-child(3) a {
        left: 6px;
    }

    .fixed-leftsocial ul li:nth-child(2) a {
        left: -1px;
    }

    .fixed-leftsocial ul li:first-child a {
        left: 0;
    }

    .fixed-leftsocial,
    .mainslider,
    .mainslider__sidebarsect,
    .mainslider__sect {
        height: calc(100vh - 75px);
    }

    .mainslider__sidebarsect ul li a {
        padding: 14px 50px 14px 100px;
    }

    .menu-section .header__navbtn {
        top: 27px;
    }
}

/* --- */
@media (max-width: 1300.8px) {
    header.header {
        height: 75px;
    }

    main {
        margin-top: 75px;
    }

    .header__logo,
    .header__phone {
        padding-right: 15px;
    }

    .header__phone a {
        font-size: 16px;
    }

    .header__language {
        -ms-flex: 0 0 16.8%;
        flex: 0 0 16.8%;
        max-width: 16.8%;
    }

    .header__navbtn {
        -ms-flex: 0 0 11%;
        flex: 0 0 11%;
        max-width: 11%;
    }

    .fixed-leftsocial {
        width: 70px;
    }

    .fixed-leftsocial ul li:nth-child(3) a {
        left: 1px;
    }

    .fixed-leftsocial ul li:nth-child(2) a {
        left: -6px;
    }

    .fixed-leftsocial ul li:first-child a {
        left: -4px;
    }

    .mainslider__sect,
    .mainslider__sidebarsect,
    .mainslider {
        height: calc(100vh - 75px);
        max-height: 700px;
    }

    .mainslider__nav {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
    }

    .mainslider__sidebarsect ul li a {
        padding: 15px 30px 15px 60px;
    }

    .mainslider__nav+.col {
        max-width: calc(100% - 250px);
    }

    .mainslider-slidetopbox .dark-box {
        max-width: 340px;
        padding: 15px 40px 15px 45px;
    }

    .mainslider-slidetopbox .title {
        margin-left: 45px;
    }

    .mainslider-slidetopbox .title {
        font-size: 36px;
    }

    .footer__phone a {
        font-size: 25px;
    }

    .footer__logo {
        padding-right: 15px;
    }

    .map {
        height: 450px;
    }

    h3 {
        margin: 0 0 30px 0;
        font-size: 38px;
    }

    .news .slick-arrow {
        top: -68px;
    }

    .news__slidebox {
        width: 250px;
        margin-right: 40px;
    }

    .news__slidepic {
        height: 250px;
    }

    .contact-page .bigtitle-page {
        font-size: 150px;
    }

    .fixed-leftsocial {
        height: calc(100vh - 75px);
    }

    .aboutus-page .aboutus-slider__slide {
        height: calc(100vh - 75px);
    }

    .sm-restaurant .sm-restaurant__greybox {
        left: 0;
    }

    .sm-restaurant .sm-restaurant__lpic {
        left: 35px;
    }

    .bands-bottslidersect.news .flip {
        top: 3px;
    }

    .mainslider__slideload {
        max-height: 200px;
    }

    .carousel-gallery #carousel-right {
        right: 5%;
    }

    .carousel-gallery #carousel-left {
        left: 5%;
    }

    /* --1300 */
    .news,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .mainslider,
    section,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-left: 70px;
    }
}

@media(max-width:1199.8px) {
    .bigtitle-page {
        font-size: 140px;
    }

    .salons-section .salon-sect__contbox a.title {
        margin-bottom: 10px;
    }

    .salon-sect__contbox {
        padding-top: 15px;
    }

    .header__searchbtn form button {
        font-size: 12px;
    }

    .header__searchbtn form input[type="text"] {
        font-size: 16px;
    }

    .header__searchbtn form.openheadsearch,
    .header__searchbtn form {
        width: 46vw;
    }

    .brands__filter ul {
        text-align: center;
    }

    .brands-section .brands__filter ul li {
        margin-bottom: 10px;
    }

    .brands-section {
        padding-top: 50px;
    }

    .brands-section .brands__topsect {
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .brands-section .brands__filter ul {
        padding-left: 0;
    }

    .aboutus-page .bigtext-slide {
        font-size: 100px;
    }

    .abus-textsect p.title {
        margin-bottom: 15px;
    }

    .abus-textsect p:not(.title) {
        margin-bottom: 10px;
    }

    .abus-ooiu .preference__box-pic {
        width: 60px;
        height: 45px;
        margin: 0 auto 10px;
    }

    .sm-restaurant .sm-restaurant__greybox {
        left: -35px;
    }

    .sm-restaurant .sm-restaurant__lpic {
        left: 0;
    }

    .sm-restaurant__info-section {
        padding-top: 0;
    }

    .sm-restaurant__info-section .text-block {
        margin-top: 10px;
    }

    .cosmiss-slidersect .slick-dots li button {
        width: 32px;
    }

    .sm-restaurant__info-section h1 {
        margin-bottom: 30px;
    }

    /* 1199 */
    .salons-section .salon-sect__contbox a.title,
    .abus-textsect p.title {
        font-size: 32px;
    }

    .abus-ooiu .preference-sect h3 {
        font-size: 28px;
    }

    .abus-ooiu .preference__box .title {
        font-size: 18px;
    }
}

@media(max-width:1140px) {
    .mainslider .slick-dots {
        display: none !important;
    }

    .header__searchbtn form.openheadsearch,
    .header__searchbtn form {
        width: 44vw;
    }

    .sm-restaurant .sm-restaurant__greybox {
        left: 0;
    }

    .sm-restaurant .sm-restaurant__lpic {
        left: 35px;
    }

    .sm-restaurant .sm-restaurant__lpic {
        max-width: 100%;
    }

    .sm-restaurant .vertflor-sect {
        justify-content: flex-end;
    }

    .sm-restaurant__info-section h1 {
        font-size: 34px;
    }

    .sm-restaurant .sm-restaurant__leftsect {
        padding-top: 70px;
    }

    .carousel-gallery #carousel-right {
        right: 2%;
    }

    .carousel-gallery #carousel-left {
        left: 2%;
    }
}

@media(max-width:1024.8px) {
    .header__worktime {
        -ms-flex: 0 0 23%;
        flex: 0 0 23%;
        max-width: 23%;
    }

    .header__phone {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }

    .header__language {
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
    }

    .header__searchbtn {
        -ms-flex: 0 0 3%;
        flex: 0 0 3%;
        max-width: 3%;
    }

    .header__navbtn {
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
    }

    .header__worktime .weekend-text {
        white-space: nowrap;
    }

    .header__searchbtn form.openheadsearch,
    .header__searchbtn form {
        width: 39vw;
    }

    .salons__content-blocks .show-hover-catblock:hover .hovershowdescr {
        display: none;
    }

    .salons__content-blocks .show-hover-catblock:hover {
        background-color: transparent;
    }

    .salons__content-blocks .show-hover-catblock:hover ul {
        display: block;
    }

    .salons__content-blocks .show-hover-catblock .tablet-genlink {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .show-hover-catblock ul {
        position: relative;
        z-index: 2;
    }

    .carousel-gallery .carousel-container {
        display: none;
    }

    /* carousel */
    .carousel-gallery-adaptive.slick-slider {
        display: block;
    }

    .carousel-gallery-adaptive .slick-slide img {
        width: 100%;
    }

    .carousel-gallery-adaptive .slick-arrow {
        top: 50%;
        margin-top: -25px;
        width: 39px;
        height: 50px;
        position: absolute;
        z-index: 2;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .carousel-gallery-adaptive .slick-next.slick-arrow {
        right: 20px;
        background-image: url(../image/carousel-arrowright.png);

    }

    .carousel-gallery-adaptive .slick-prev.slick-arrow {
        left: 20px;
        background-image: url(../image/carousel-arrowleft.png);
    }

    .carousel-gallery .abstoptitle {
        font-size: 200px;
        line-height: 200px;
    }

    .carousel-gallery {
        padding-top: 55px;
    }

    /* 1024 */
    .salons-section .salons__select-choosen {
        font-size: 22px;
    }
}

/* FIXED  */
@media(max-width:1024.8px) {

    .mainslider,
    section,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-left: 0;
    }

    .fixed-leftsocial {
        display: none;
    }

    .menu-section.showmenu {
        padding-left: 0;
    }

    .menu-section .nav-col ul li a:hover {
        padding-left: 0;
    }

    /* .menu-section .nav-col ul li .submenu {
    height: auto;
}

.menu-section.showmenu {
    padding-left: 0;
}

.menu-section .nav-col ul li a:hover {
    padding-left: 0;
}

*/
    .menu-section .nav-col ul li a:hover:before,
    .menu-section {
        /* display: none; */
    }

    /* .menu-section {
        transition: initial;
        -webkit-transition: initial;
        -moz-transition: initial;
        -ms-transition: initial;
        -o-transition: initial;
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    } */

}

/* --- */
@media (max-width: 992.8px) {

    .news-page .salons__select-choosen,
    .news-page .body-news .news-item {
        max-width: 320px;
        width: initial;
    }
}

@media(max-width:991.8px) {
    .mainslider__nav {
        display: block;
        flex: initial;
    }

    .mainslider__nav+.col {
        display: block;
        flex: initial;
    }

    .mainslider {
        max-height: initial;
        height: auto;
    }

    .mainslider__sidebarsect {
        max-height: initial;
        height: auto;
        min-height: initial;
        background-image: none;
        background-color: #242526;
    }

    .mainslider__nav {
        order: 2;
    }

    .mainslider__sidebarsect ul li {
        margin-bottom: 10px;
        display: inline-block;
        width: 32%;
    }

    .mainslider__sidebarsect ul {
        padding: 20px 10px;
        text-align: center;
    }

    .mainslider__sidebarsect ul li a {
        padding: 5px;
        text-align: center;
    }

    .mainslider__nav+.col {
        max-width: 100%;
        order: 1;
    }

    header.header {
        padding: 0 20px;
    }

    .header__phone a {
        letter-spacing: .5px;
    }

    .header__language ul li {
        margin-right: 5px;
    }

    .header__worktime .weekend-text {
        font-size: 10px;
    }

    .mainslider__sect {
        height: 700px;
    }

    .news__slidepic {
        height: 200px;
    }

    .news__slidebox {
        width: 200px;
    }

    .news__slidetitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .news__slidetext {
        padding-top: 15px;
    }

    .news__slidedescr {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 32px;
    }

    .news .slick-arrow {
        top: -61px;
    }

    .aboutus__boxpic {
        width: 60px;
        height: 45px;
    }

    .aboutus__box .title {
        font-size: 18px;
    }

    .ourservices .row .col-lg-4 .aboutus__box {
        margin-bottom: 30px;
    }

    footer .footer__leftsect,
    footer .footer__listsect1,
    footer .footer__listsect2,
    footer .footer__subscribe {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    footer .footer__listsect2 ul {
        border-right: none;
    }

    .footer__phone a {
        font-size: 20px;
    }

    footer .footer__leftsect {
        order: 1;
    }

    footer .footer__subscribe {
        order: 2;
        justify-content: flex-start;
    }

    footer .footer__listsect1 {
        order: 3;
    }

    footer .footer__listsect2 {
        order: 4;
    }

    footer .footer__listsect1,
    footer .footer__listsect2 {
        margin-top: 20px;
    }

    .footer__listsect2 ul li:nth-child(2),
    .footer__listsect1 ul li:nth-child(2) {
        margin-bottom: 30px;
    }

    .salon-sect__contbox {
        padding-left: 0;
    }

    .salons-section .salon-sect__contbox .descr {
        margin-bottom: 20px;
    }

    .header__searchbtn form.openheadsearch,
    .header__searchbtn form {
        width: 63vw;
    }

    .salons__content-blocks>.row>.col-lg-12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact-page .bigtitle-page {
        right: 0;
        left: 0;
        font-size: 100px;
    }

    .contact-page .mapbox {
        margin-bottom: 30px;
    }

    .contact-page .righttlist li p {
        margin: 0;
    }

    .contact-page .righttlist li:not(:last-child) {
        margin-bottom: 25px;
    }

    .contact-page {
        padding-top: 100px;
    }

    .contact-page .bigtitle-page {
        top: -5px;
    }

    .adress-sect {
        height: auto;
    }

    .adress-sect .row .col-md-6:first-child {
        order: 3;
    }

    .adress-sect .row .col-md-6:nth-child(2) {
        order: 2;
    }

    .adress-sect .row .col-md-6:nth-child(3) {
        order: 1;
    }

    .contact-page .adress__subtitle {
        font-size: 18px;
        margin-top: 30px;
    }

    .adress-sect .row .col-md-6:first-child .adress__box {
        margin-top: 30px;
    }

    .controls label {
        font-size: 10px;
        top: 14px;
    }

    .contact-form {
        padding-top: 60px;
    }

    .contact-page .bottom-buttons a {
        height: 100px;
    }

    .aboutus-page .bigtext-slide {
        top: 28vh;
    }

    .abus-ooiu {
        padding-top: 50px;
    }

    .abus-ooiu .abus-descr {
        padding-top: 0;
    }

    .abus-ooiu .abus-textsect,
    .abus-ooiu .preference-sect h3 {
        margin-bottom: 50px;
    }

    .abus-ooiu .preference__box {
        margin-bottom: 30px;
    }

    .big-bottpage-links a {
        height: 100px;
    }

    .sm-restaurant__info-section .cont-box {
        margin-bottom: 10px;
    }

    .sm-restaurant__info-section .white-shadow {
        background: linear-gradient(to top, #fff, #fff 30%, transparent 95%);
    }

    .bands-bottslidersect.news h3 {
        font-size: 24px;
        margin: 0;
    }

    .bands-bottslidersect.news .flip {
        top: -8px;
    }

    .ourservices .row .col-lg-4 .aboutus__box {
        margin-bottom: 30px !important;
    }

    .social-missions-boxes {
        padding-top: 50px;
    }

    .cosmiss-slidersect {
        width: 100%;
    }

    .cosmiss-slidersect .slideshow .slick-slide,
    .cosmiss-slidersect .slideshow1 .slick-slide,
    .cosmiss-slidersect .slideshow2 .slick-slide {
        height: auto;
    }

    .soc-mission .soc-calproj-arrow {
        height: auto;
    }

    .soc-mission .soc-calproj-arrow {
        padding: 30px 0 5px 0;
    }

    .cosmiss-textsect {
        margin-top: 20px;
    }

    .cosmiss-textsect .title {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-missions-boxes .socmiss__rightpic>.row .col-lg-6:first-child {
        order: 2;
    }

    .social-missions-boxes .socmiss__rightpic>.row .col-lg-6:nth-child(2) {
        order: 1;
    }

    .cosmiss-slidersect .slide-shadow {
        height: calc(100% - 60px);
    }

    .menu-section .header__navbtn {
        right: 20px;
    }

    /* 991 */
    .soc-mission .soc-calproj-arrow p {
        font-size: 24px;
    }

    .contact-page .adress__title,
    .tabform-cont .title {
        font-size: 32px;
    }

    .salons-section .bigtitle-page {
        left: 40px;
    }

    .salons-section {
        padding-top: 30px;
    }

    .bigtitle-page {
        font-size: 100px;
    }

    .contact-page .map {
        margin-bottom: 60px;
    }
}

@media(max-width:767.8px) {

    .header__phone,
    .header__worktime,
    .header__language,
    .header__searchbtn {
        display: none;
    }

    .header__logo,
    .header__navbtn {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .mainsliderlittle__sect {
        display: none;
    }

    .pagingInfo,
    .slick-slide.slick-current .mainslider__slideload {
        display: none;
    }

    .mainslider__sect {
        height: 100%;
    }

    .mainslider__sect,
    .mainslider {
        min-height: 500px;
    }

    .news h3 {
        margin: 0;
    }

    .allnews-link .flip a {
        margin-top: -10px;
    }

    .news-slider {
        margin-top: 15px;
    }

    .news .slick-arrow {
        top: -70px;
    }

    .aboutus__box {
        margin-bottom: 30px;
    }

    .aboutus__box .descr {
        max-width: 100%;
    }

    .aboutus .col-lg-4:last-child .aboutus__box {
        margin-bottom: 0;
    }

    .aboutus__box .title br {
        display: none;
    }

    .map {
        height: 350px;
    }

    .footer__listsect2 ul li,
    .footer__listsect1 ul li {
        padding-left: 0;
    }

    .footer__subscribe label {
        width: calc(100% - 25px);
        vertical-align: top;
        line-height: normal;
    }

    .footer__listsect2 ul li:last-child,
    .footer__listsect1 ul li:last-child {
        padding-left: 25px;
    }

    .contact-page .bigtitle-page {
        left: 70px;
    }

    .contact-page .righttlist li span.title {
        font-size: 24px;
    }

    .contact-form .tabform {
        padding: 10px;
    }

    .abus-ooiu .abus-textsect .abus-pic {
        display: block;
        margin: 0 auto 20px;
    }

    .abus-ooiu {
        padding-top: 20px;
    }

    .abus-textsect p.title {
        text-align: center;
    }

    .abus-textsect.lastpic .col-md-4 {
        order: 1;
    }

    .abus-textsect.lastpic .col-md-8 {
        order: 2;
    }

    .sm-restaurant .sm-restaurant__greybox {
        left: -35px;
    }

    .sm-restaurant .sm-restaurant__lpic {
        left: 0;
    }

    .sm-restaurant {
        padding-top: 20px;
    }

    .sm-restaurant__info-section {
        margin-top: 20px;
    }

    .bands-bottslidersect.news h3 {
        margin-bottom: 20px;
    }

    .bands-bottslidersect.news .allnews-link {
        text-align: left;
    }

    .bands-bottslidersect.news .flip {
        top: 0;
    }

    .bands-bottslidersect.news .slick-arrow {
        top: -60px;
    }

    .absbox-title h1 {
        font-size: 36px;
    }

    .rent-page .about-tab {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .rent-page .brends,
    .rent-page .info h3,
    .legend-page .legends-item {
        margin-bottom: 30px;
    }

    .rent-page .info .item {
        margin-bottom: 20px;
    }

    .legend-page .legend-team {
        margin-top: 30px;
    }

    .legend-page .legends-img,
    .legend-page .legends-item h5 {
        margin-bottom: 10px;
    }

    .legend-page .legends-item p {
        margin-bottom: 0;
    }

    .contact-form.hub-form form .col-md-12 .controls input {
        height: 65px;
    }

    .menu-section {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    /* 767 */
    .carousel-gallery .abstoptitle {
        font-size: 120px;
        line-height: 120px;
    }

    .carousel-gallery .galltitle {
        font-size: 24px;
    }

    .carousel-gallery {
        padding-top: 55px;
    }

    .menu-section .nav-col ul li a {
        font-size: 20px;
    }
}

@media(max-width: 575.8px) {
    .fixed-leftsocial {
        display: none;
    }

    .mainslider,
    section,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-left: 0;
    }

    .mainslider__sidebarsect ul li {
        vertical-align: middle;
    }

    .news-slider {
        padding-left: 15px;
    }

    .news__slidepic {
        height: auto;
    }

    .news__slidebox {
        width: 100%;
    }

    .news-slider {
        padding-right: 15px;
    }

    .mainslider-slidetopbox .title {
        font-size: 30px;
    }

    .aboutus__boxpic {
        margin-bottom: 10px;
    }

    .ourservices .row .col-lg-4:nth-last-child(-n+3) .aboutus__box,
    .aboutus__box {
        margin-bottom: 20px;
    }

    .ourservices .row .col-lg-4:last-child .aboutus__box {
        margin-bottom: 0;
    }

    footer .footer__leftsect,
    footer .footer__subscribe {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .footer__subscribe>div {
        max-width: 100%;
    }

    .footer__logo {
        padding-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__phone {
        margin-bottom: 10px;
    }

    .footer__subscribe label,
    .footer__subscribe .jq-checkbox {
        vertical-align: middle;
    }

    .footer__subscribe .title,
    .footer__phone {
        text-align: center;
    }

    .salons-section .salon-sect__picbox-img {
        height: 200px;
    }

    .salons-section .salons__select ul {
        top: 48px;
    }

    .salons-section .salon-sect__picbox .flornumber {
        justify-content: flex-end;
    }

    .salons-section .salon-sect__contbox .phone-list {
        flex-wrap: wrap;
    }

    .salons-section .salon-sect__contbox .phonebox {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .salons-section .salon-sect__picbox .flornumber span {
        letter-spacing: 5px;
    }

    .bigtitle-page {
        font-size: 65px;
    }

    .brands-section .brand-pic {
        box-sizing: content-box;
    }

    .contact-page .bigtitle-page {
        left: 0;
        right: 0;
        font-size: 60px;
        line-height: 60px;
    }

    .contact-page {
        padding-top: 44px;
    }

    .contact-page .map {
        margin-bottom: 30px;
    }

    .adress-sect,
    .contact-form {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .adress-sect .row .col-md-6:nth-child(2) .adress__box {
        margin-top: 30px;
    }

    .contact-form .tabform {
        width: 49%;
        display: inline-block;
        padding: 10px 25px;
        text-align: center;
    }

    .contact-form .tabform-cont {
        padding-top: 10px;
    }

    .tabform-cont .title {
        font-size: 22px;
    }

    .contact-page .bottom-buttons .row .col-sm-6 a {
        border: 2px solid #242526 !important;
        margin-left: 15px;
        margin-right: 15px;
    }

    .contact-page .bottom-buttons .row .col-sm-6:first-child a {
        margin-bottom: 10px;
    }

    .contact-page .bottom-buttons a {
        height: 70px;
    }

    .contact-page .bottom-buttons a {
        font-size: 16px;
    }

    .aboutus-slider__slide .text-box {
        left: 30px;
        top: 40px;
    }

    .aboutus-slider__slide a {
        left: 30px;
    }

    .aboutus-slider .slick-next.slick-arrow {
        right: 10px;
    }

    .aboutus-slider .slick-prev.slick-arrow {
        left: 10px;
    }

    .abus-ooiu .preference-sect h3 {
        margin-bottom: 30px;
    }

    .big-bottpage-links .row .col-sm-6:first-child a {
        margin-bottom: 10px;
    }

    .big-bottpage-links .row .col-sm-6 a {
        border: 2px solid #242526 !important;
        margin-left: 15px;
        margin-right: 15px;
        height: 70px;
        font-size: 16px;
    }

    .sm-restaurant .sm-restaurant__greybox {
        left: 0;
    }

    .sm-restaurant .sm-restaurant__lpic {
        padding-left: 35px;
    }

    .sm-restaurant .vert-text {
        writing-mode: initial;
        -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
    }

    .sm-restaurant .vert-text {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .cosmiss-slidersect .slick-dots li button {
        width: 25px;
    }

    .social-missions-boxes .socmiss__leftpic,
    .social-missions-boxes .socmiss__rightpic {
        margin-bottom: 40px;
    }

    section.bottom-buttons .row .col-sm-6:first-child a,
    .hub-page .bottom-buttons .row .col-sm-4:first-child a,
    .hub-page .bottom-buttons .row .col-sm-4:nth-child(2) a {
        margin-bottom: 10px;

    }

    section.bottom-buttons .row .col-sm-6 a {
        font-size: 16px;
        height: 70px;
        border: 2px solid #323235 !important;
    }

    .hub-page .top-hub .bg-darks,
    .hub-page .top-hub {
        height: auto;
    }

    .news-page .salons__select-choosen,
    .news-page .body-news .news-item {
        max-width: initial;
        width: 100%;
    }

    p.aftcarous-text {
        margin-top: 30px;
    }

    .menu-section .col-lg-4,
    .menu-section .nav-col ul {
        height: auto;
    }

    .menu-section .nav-col ul li:not(:last-child),
    .menu-section .nav-col ul li:last-child {
        margin-bottom: 5px;
    }

    .menu-section.showmenu {
        overflow: scroll;
    }

    .menu-section>div {
        height: auto;
        padding: 70px 0 50px 0;
    }

    .menu-section .nav-col ul li .submenu li a {
        padding-left: 0;
    }

    .menu-section .nav-col {
        width: 100%;
    }

    .menu-section .nav-col ul {
        text-align: center;
    }

    /* 575 */
    .salons-section .salons__select-choosen {
        font-size: 18px;
    }

    .news,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .abus-textsect p.title,
    .abus-ooiu .preference-sect h3 {
        font-size: 24px;
    }

    .cosmiss-textsect .title {
        font-size: 28px;
    }

    .preloader-section img {
        animation: none;
        -webkit-animation: none;
    }
}

/* FIXED */

@media(max-width: 575.8px) {
    .mainslider__sidebarsect {
        display: none;
    }

    .news,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .news-slider {
        padding-left: 15px !important;
    }

    .preloader-section svg {
        width: 70%;
    }
}

/* ---- */
@media(max-width:480.8px) {
    .salons__content-blocks>.row>.col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .salons__content>.row .col-lg-12:not(:last-child) {
        margin-bottom: 20px;
    }

    .aboutus-slider .slick-prev.slick-arrow,
    .aboutus-slider .slick-next.slick-arrow {
        height: 40px;
        width: 30px;
    }

    .aboutus-slider__slide .text-box .title {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media(max-width: 375.8px) {
    .bigtitle-page {
        font-size: 65px;
    }

    .salons__content-blocks .salon-sect,
    .salons-section .salons__content-blocks .salon-sect__picbox-img {
        height: 300px;
    }
}

@media(max-width:360.8px) {
    .contact-form.hub-form form .col-md-12 .controls input {
        height: 70px;
    }

    .news .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .allnews-link {
        text-align: left;
    }

    .news h3 {
        margin-bottom: 10px;
    }

    .contact-page .mapbox {
        height: 300px;
    }

    .contact-form .tabform {
        width: 100%;
    }

    .contform-check label {
        width: calc(100% - 40px);
        vertical-align: top;
    }

    .cosmiss-slidersect .slick-dots li button {
        width: 20px;
    }
}







/* height */
@media(max-width: 600.8px) {
    .news .slick-next.slick-arrow {
        right: 10px !important;
    }

    .news .slick-prev.slick-arrow {
        right: 40px !important;
    }
}

@media(max-width: 812.8px) and (orientation: landscape) {
    .news .slick-next.slick-arrow {
        right: 10px !important;
    }

    .news .slick-prev.slick-arrow {
        right: 40px !important;
    }
}

@media(max-height:770.8px) {
    .mainslider__slideload {
        height: 15vh;
        max-height: 150px;
        min-height: 95px;
    }
}

@media(max-height:775.8px) {

    .aboutus-slider .slick-prev.slick-arrow,
    .aboutus-slider .slick-next.slick-arrow {
        margin-top: -5px;
    }
}

@media(max-height:500.8px) {
    .fixed-leftsocial {
        display: none;
    }

    .mainslider,
    section,
    .aboutus,
    .ourservices,
    footer.footer {
        padding-left: 0;
    }

    .menu-section .col-lg-4 {
        height: auto;
    }

    .menu-section>div {
        height: 500px;
        padding: 80px 0;
    }

    .menu-section.showmenu {
        overflow: scroll;
    }

    .menu-section {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 100%;
        height: 100vh;
    }
}